= form_for @article, :url => (@article.id.present? ? admin_article_path(@article) : admin_articles_path) do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = t('activerecord.errors.models.article.not_saved', count: @article.errors.count)
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title, autofocus: true
  .field
    = f.cktext_area :content
  .field
    = f.label :category_id
    = select("article", "category_id", Category.all.collect {|c| [ c.title, c.id ] }, { :include_blank => true } )
  .field
    = f.label :tag_list, t('tags_separated_by_commas')
    = f.text_field :tag_list
  .actions
    = f.submit

= link_to t('articles.all'), admin_articles_path
