%h1 Listing articles
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Category
      %th Actions
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= link_to article.category.title, admin_category_path(article.category)
        %td
          = link_to 'View', article_path(article), title: 'View this page live <br> (opens in a new window)', target: '_blank', class: 'tipped'
          = link_to 'Edit', edit_admin_article_path(article), title: 'Edit this page', class: 'tipped'
          = link_to 'Delete', admin_article_path(article), confirm: 'Are you sure?', method: :delete
%br
= link_to 'New Article', new_admin_article_path
