<h1>Listing articles</h1>

<table class="table table-striped">
  <thead>  
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>  
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= raw(article.content[0...100] + '...') %></td>
        <td><%= link_to article.category.title, admin_category_path(article.category) %></td>
        <td><%= link_to 'Show', admin_article_path(article) %></td>
        <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
        <td><%= link_to 'Delete', admin_article_path(article), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody> 
</table>

<br />

<%= link_to 'New Article', new_admin_article_path %>
