#records.span7
  %table.table.table-striped.middle
    %thead
      %tr
        %th= Category.human_attribute_name(:title)
        %th= Category.human_attribute_name(:category_id)
        %th= t('actions')
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.title

          %td
            - if article.category.present?
              = link_to article.category.title, admin_category_path(article.category)
            - else
              %i None

          %td
            = link_to image_tag('go.png'), article_path(article), title: t('articles.view'), target: '_blank', class: 'tipped'
            = link_to image_tag('edit.png'), edit_admin_article_path(article), title: t('articles.edit'), class: 'tipped'
            = link_to image_tag('delete.png') , admin_article_path(article), confirm: t('sure'), method: :delete, title: t('articles.delete'), class: 'tipped'

= render partial: 'admin/actions'