#records.span6
  %table.table.table-striped.middle
    %thead
      %tr
        %th Title
        %th Category
        %th Actions
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.title
          %td= link_to article.category.title, admin_category_path(article.category)
          %td
            = link_to image_tag('go.png'), article_path(article), title: 'View this article live <br> (opens in a new window)', target: '_blank', class: 'tipped'
            = link_to image_tag('edit.png'), edit_admin_article_path(article), title: 'Edit this article', class: 'tipped'
            = link_to image_tag('delete.png') , admin_article_path(article), confirm: 'Are you sure?', method: :delete, title: 'Delete this article', class: 'tipped'

#actions.span2.pull-right
  %ul
    %li= link_to 'Create new article', new_admin_article_path