<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= raw(@article.content) %>
</p>

<p>
  <b>Category:</b>
  <%= link_to @article.category.title, admin_category_path(@article.category) %>
</p>


<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
