- article = summary

.article_summary
  %span.title= link_to article.title, article
  %span.category
    = Category.model_name.human(count: 1) + ':'
    - if article.category.present?
      = link_to article.category.title, category_path(article.category)
    - else
      %i= t('none')

  .contents= strip_tags(article.content[0...100] + '...')