- article = summary

.article_summary
  %h3= link_to article.title, article

  .posted_on
    = t('posted_on')
    = article.created_at.strftime("%d.%m.%Y")
    = # by ... (in future editions =))

  .cutted
    = Sanitize.clean(article.content[0..1000], {}) + ' ...'
    = link_to t('read_more') + ' →', article

  .posted_in
    = render partial: '/articles/footer', locals: { article: article }
