%h1 Listing articles

= form_tag articles_path, method: :get do
  = text_field_tag :query, params[:query]
  = submit_tag "Search", name: nil, style: 'margin-bottom: 10px'

= paginate @articles

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Content
      %th Category
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= raw(article.content[0...100] + '...')
        %td= link_to article.category.title, category_path(article.category)

= paginate @articles