<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= raw(@article.content) %>
</p>

<p>
  <b>Category:</b>
  <%= link_to @article.category.title, category_path(@article.category)  %>
</p>

<%= link_to 'Back', articles_path %>
