%p#notice= notice

%h2= @article.title

.article_content
  = raw(@article.content)

- if @article.category.present?
  %p
    %b= Category.model_name.human(count: 1) + ':'
    = link_to @article.category.title, category_path(@article.category)

= render partial: '/articles/tags', locals: { article: @article }