#records.span7
  %table.table.table-striped
    %thead
      %tr
        %th= Category.human_attribute_name(:title)
        %th= Category.human_attribute_name(:parent_id)
        %th= t 'actions'
    %tbody
      - @categories.each do |category|
        %tr
          %td= category.title
          %td= category.parent_category.present? ? (link_to category.parent_category.title, admin_category_path(category.parent_category)) : t('none')
          %td
            = link_to image_tag('edit.png'), edit_admin_category_path(category), title: t('categories.edit'), class: 'tipped'
            = link_to image_tag('delete.png') , admin_category_path(category), confirm: t('sure'), method: :delete, title: t('categories.delete'), class: 'tipped'

= render partial: 'admin/actions'