<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Parent:</b>
  <% if @category.parent_category.present? %>
  	<%= @category.parent_category.title %>
  <% else %>
  	<%= '-' %>
  <% end %>
</p>

<p>
  <b>Articles:</b>
  <% @category.articles.each do |article| %>
   	<%= link_to article.title, article %>
  <% end %> 
</p>

<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %>
