%h1= Category.model_name.human(count: 2)
%table.table.table-striped
  %thead
    %tr
      %th= Category.human_attribute_name(:title)
      %th= Category.human_attribute_name(:parent_id)
  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to category.title, category
        %td= category.parent_category.present? ? (link_to category.parent_category.title, category_path(category.parent_category)) : t('none')
