<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Parent:</b>
  <% if @category.parent_category.present? %>
  	<%= link_to @category.parent_category.title, @category.parent_category %>
  <% else %>
  	<%= 'None' %>
  <% end %>
</p>

<p>
  <b>Articles:</b>
  <% @category.articles.each do |article| %>
   	<%= link_to article.title, article %>
  <% end %> 
</p>

<%= link_to 'Back', categories_path %>
