<p id="notice"><%= notice %></p>

<p>
  <h2><%= @category.title %></h2>
</p>
  

<p>
  <b>Parent:</b>
  <% if @category.parent_category.present? %>
  	<%= link_to @category.parent_category.title, @category.parent_category %>
  <% else %>
  	<%= 'None' %>
  <% end %>
</p>

<p>
  <h3>Articles</h3>
  <% if @category.articles.count == 0 %>
    <%= 'None' %>
  <% elsif @category.articles.count == 1 %>
    <% article = @category.articles.first %>
    <div class="well" style="padding: 10px;">
      <h4><%= link_to article.title, article %></h4>
      <div class="well" style="padding: 10px; margin-bottom: 0px; background-color: #d5d5d5">
        <%= raw(article.content) %>
      </div>
    </div>
  <% else %>
    <% @category.articles.each do |article| %>
      <div class="well" style="padding: 10px">
        <h4><%= link_to article.title, article %></h4>
        <div class="well" style="padding: 10px; margin-bottom: 0px; background-color: #d5d5d5">
          <%= raw(article.content[0..150]) %>
        </div>
      </div>
    <% end %> 
  <% end %> 
</p>

<%= link_to 'Back', categories_path %>
