%p
  %h2
    = @category.title
    - if @category.parent_category.present?
      (
      = t('in')
      = link_to @category.parent_category.title, @category.parent_category
      )

- articles_count = @category.articles.count
%p
  - if articles_count == 0
    %h5= t('no_articles_in_this_category')
  - elsif articles_count == 1
    %h4= t('just_one_article_in_this_category')
    = render partial: 'articles/article', object: @category.articles.first
  - else
    %h4= articles_count.to_s + ' ' + t('articles_in_this_category')
    = render partial: 'articles/summary', collection: @category.articles