- search_path = @is_in_editor ? search_admin_articles_path : search_articles_path

= form_tag search_path, method: :get do
  .field
    = label_tag :keywords, t('keywords')
    = text_field_tag :keywords, params[:keywords]
  .field
    = label_tag :tag, t('tags')
    = select_tag("tag", options_for_select([["Any tag" , '' ]] + ActsAsTaggableOn::Tag.all.collect { |tag| ["#{tag.name} (#{tag.taggings.count})", tag.name] }, params[:tag]))
  .field
    = label_tag :category_id, Category.model_name.human(count: 1)
    = select_tag("category_id", options_for_select([["Any category" , '' ]] + Category.all.collect {|c| [ "#{c.title} (#{c.articles.count})", c.id ] }, params[:category_id]))

  = submit_tag t("search"), name: nil