<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Simple Rails CMS" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render 'layouts/site_bar' %>
    <div id="page_container">
      <header class="navbar navbar-fixed-top">
        <nav class="navbar-inner">
          <div class="container">
            <%= render 'layouts/navigation' %>
          </div>
        </nav>
      </header>
      <div id="main" role="main">
        <div class="container">
          <div class="content" style="background-color: #abc;">
             <div class="row">
              <div class="span12">
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
            </div>
            <footer>
            </footer>
          </div>
        </div> <!--! end of .container -->
      </div> <!--! end of #main -->
    </div>
  </body>
</html>

<!-- 
<title><%#= (@page.nil? || @page.title.nil?) ? "Simple Rails CMS" : @page.title %> </title>

<div style="float:left; background-color:#888">
  <%#= yield :sidemenu %>
</div>

 -->