<!DOCTYPE html>
<html>
<head>
  <title><%= (@page.nil? || @page.title.nil?) ? "Simple Rails CMS" : @page.title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#ddd">
  <div style="min-height:600px; margin:0 20px; background-color:white">
    <div style="height:80px; background-color:#88A; text-align:center; padding:1em">
      <h1>Welcome to My Site</h1>
    </div>
    <div>
      <div style="float:left; background-color:#888">
        <%= yield :sidemenu %>
      </div>
      <div style="margin-left:150px">
        <p style="color: green"><%= flash[:notice] %></p>

        <div id="user_nav">  
          <% if admin_signed_in? %>  
            Signed in as <%= current_admin.email %>. Not you?  
            <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>  
          <% else %>  
            <%= link_to "Sign up", new_admin_registration_path %> or  
            <%= link_to "Sign in", new_admin_session_path %>  
          <% end %>  
        </div>  

        <!-- test device msgs -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield :layout %>
      </div>
    </div>
  </div>
</body>
</html>
